{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center">
    <table class="table table-striped table-bordered">
        <tr>
            <td>C.I.F.</td>
            <td>Dirección</td>
            <td>Población</td>
            <td>C.P.</td>
            <td>Provincia</td>
        </tr>
        <tr>
            <td><input type="text1" class="form-control"/></td>
            <td><input type="text1" class="form-control"/></td>
            <td><input type="text1" class="form-control"/></td>
            <td><input type="text1" class="form-control"/></td>
            <td><input type="text1" class="form-control"/></td>
        </tr>
      </table>
      <br/>
      <table class="table table-striped">
          <tr>
              <td>Diócesis</td>
              <td>Arciprestazgo</td>
              <td>Parroquia</td>
              <td>Razón social</td>
              <td>Web</td>
          </tr>
          <tr>
              <td><input type="text1" class="form-control"/></td>
              <td><input type="text1" class="form-control"/></td>
              <td><input type="text1" class="form-control"/></td>
              <td><input type="text1" class="form-control"/></td>
              <td><input type="text1" class="form-control"/></td>
          </tr>
      </table>
      <br/>
      <table class="table table-striped">
        <tr>
            <td>Responsable de seguridad / Párroco</td>
            <td>Cargo</td>
            <td>D.N.I.</td>
            <td>Tfno. 1</td>
            <td>Tfno. 2</td>
            <td>E-mail</td>
        </tr>
        <tr>
            <td><input type="text" class="form-control"/></td>
            <td><input type="text" class="form-control"/></td>
            <td><input type="text" class="form-control"/></td>
            <td><input type="text" class="form-control"/></td>
            <td><input type="text" class="form-control"/></td>
            <td><input type="text" class="form-control"/></td>
        </tr>
    </table>
    <br/>
    <button type="submit" class="btn" id="submit-button">GUARDAR CLIENTE</button>
</div>
{% endblock %}