{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<table cellpadding="0"; cellspacing="0">
        <tr>
            <td><label for="title">Titulo:</label><input type="text" /></td>
            <td><label for="title">Titulo:</label><input type="text" /></td>
            <td><input type="text" /></td>
            <td width="60"><input type="text" /></td>
        <td width="60"><input type="text" /></td>
        </tr>
        <tr>
            <td><input type="text1" /></td>
            <td><input type="text1" /></td>
            <td><input type="text1" /></td>
            <td><input type="text1" /></td>
            <td><input type="text1" /></td>
        </tr>
        <tr>
            <td><input type="text2" /></td>
            <td><input type="text2" /></td>
            <td><input type="text2" /></td>
            <td><input type="text2" /></td>
            <td><input type="text2" /></td>
        </tr>
        <tr>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
        </tr>
</table>
<button type="submit" class="btn btn-success" id="submit-button">GUARDAR CLIENTE</button>
    </div>
{% endblock %}