<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>RGPD-APP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body class="text-center">
{% if session['email'] %]
<nav class="navbar navbar-light" style="background-color: #AC58FA;">
    <div class="navbar-nav" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li>
                 <a class="navbar-brand" href="/home" title="home">INICIO</a>
            </li>
            <li>
                <a href="/nuevo_cliente">AÑADIR CLIENTES</a>
            </li>
            <li>
                <a href="/plantillas">PLANTILLAS</a>
            </li>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">SALIR</a>
                </li>
            </ul>
        </ul>
    </div>
</nav>
{% endif %}
{% block content %}

{% endblock %}
</body>
</html>