{% extends "base.html" %}
{% block content %}
<form class="form-signin" id="login-form" action="/confirmar_borrado" method="post">
    {% for dato in data %}
    <input type="hidden" id="_id" class="form-control form-control-sm" name="_id" value="{{ dato._id }}"/>
    <input type="hidden" id="fecha_alta" class="form-control form-control-sm" name="fecha_alta" value="{{ dato.fecha_alta }}"/>
    <input type="hidden" id="campo1" class="form-control form-control-sm" name="campo1" value="{{ dato.campo1 }}"/>
    <input type="hidden" id="campo2" class="form-control form-control-sm" name="campo2" value="{{ dato.campo2 }}"/>
    <input type="hidden" id="campo3" class="form-control form-control-sm" name="campo3" value="{{ dato.campo3 }}"/>
    <input type="hidden" id="campo4" class="form-control form-control-sm" name="campo4" value="{{ dato.campo4 }}"/>
    <input type="hidden" id="campo5" class="form-control form-control-sm" name="campo5" value="{{ dato.campo5 }}"/>
    <input type="hidden" id="campo6" class="form-control form-control-sm" name="campo6" value="{{ dato.campo6 }}"/>
    <input type="hidden" id="campo7" class="form-control form-control-sm" name="campo7" value="{{ dato.campo7 }}"/>
    <input type="hidden" id="campo8" class="form-control form-control-sm" name="campo8" value="{{ dato.campo8 }}"/>
    <input type="hidden" id="campo9" class="form-control form-control-sm" name="campo9" value="{{ dato.campo9 }}"/>
    <input type="hidden" id="campo10" class="form-control form-control-sm" name="campo10" value="{{ dato.campo10 }}"/>
    <input type="hidden" id="campo11" class="form-control form-control-sm" name="campo11" value="{{ dato.campo11 }}"/>
    <input type="hidden" id="campo12" class="form-control form-control-sm" name="campo12" value="{{ dato.campo12 }}"/>
    <input type="hidden" id="campo13" class="form-control form-control-sm" name="campo13" value="{{ dato.campo13 }}"/>
    <input type="hidden" id="campo14" class="form-control form-control-sm" name="campo14" value="{{ dato.campo14 }}"/>
    <input type="hidden" id="campo15" class="form-control form-control-sm" name="campo15" value="{{ dato.campo15 }}"/>
    {% endfor %}
    <h1 class="h3 mb-3 font-weight-normal">¿Seguro?</h1>
    <h2 class="h3 mb-3 font-weight-normal">Los datos borrados no podran ser recuperados</h2>
    <button type="submit" class="btn btn-default btn-block" id="submit-button">Sí</button>
    <button type="submit" class="btn btn-default btn-block" id="volver">No</button>
</form>

{% endblock %}
