{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center busqueda">
    <h4 style="color:green;">{{ mensaje }}</h4>
    <form id="edit_clients" action="/guardar_edicion" method="post">
        {% for dato in data %}
        <div>
        <table class="table table-striped table-sm">
            <tr>
                <td>campo1</td>
                <td>campo2</td>
                <td>campo3</td>
                <td>campo4</td>
                <td>campo5</td>
            </tr>
            <tr>
                <input type="hidden" id="_id" class="form-control form-control-sm" name="_id" value="{{ dato._id }}"/>
                <input type="hidden" id="fecha_alta" class="form-control form-control-sm" name="fecha_alta" value="{{ dato.fecha_alta }}"/>
                <td>
                    <input type="text" id="campo1" class="form-control form-control-sm" name="campo1" value="{{ dato.campo1 }}"/>
                </td>
                <td>
                    <input type="text" id="campo2" class="form-control form-control-sm" name="campo2" value="{{ dato.campo2 }}"/>
                </td>
                <td>
                    <input type="text" id="campo3" class="form-control form-control-sm" name="campo3" value="{{ dato.campo3 }}"/>
                </td>
                <td>
                    <input type="text" id="campo4" class="form-control form-control-sm" name="campo4" value="{{ dato.campo4 }}"/>
                </td>
                <td>
                    <input type="text" id="campo5" class="form-control form-control-sm" name="campo5" value="{{ dato.campo5 }}"/>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-sm">
            <tr>
                <td>campo6</td>
                <td>campo7</td>
                <td>campo8</td>
                <td>campo9</td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="campo6" class="form-control form-control-sm" name="campo6" value="{{ dato.campo6 }}"/>
                </td>
                <td>
                    <input type="text" id="campo7" class="form-control form-control-sm" name="campo7" value="{{ dato.campo7 }}"/>
                </td>
                <td>
                    <input type="text" id="campo8" class="form-control form-control-sm" name="campo8" value="{{ dato.campo8 }}"/>
                </td>
                <td>
                    <input type="text" id="campo9" class="form-control form-control-sm" name="campo9" value="{{ dato.campo9 }}"/>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-sm">
            <tr>
                <td>campo10</td>
                <td>campo11</td>
                <td>campo12</td>
                <td>campo13</td>
                <td>campo14</td>
                <td>campo15</td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="campo10" class="form-control form-control-sm" name="campo10" value="{{ dato.campo10 }}"/>
                </td>
                <td>
                    <input type="text" id="campo11" class="form-control form-control-sm" name="campo11" value="{{ dato.campo11 }}"/>
                </td>
                <td>
                    <input type="text" id="campo12" class="form-control form-control-sm" name="campo12" value="{{ dato.campo12 }}"/>
                </td>
                <td>
                    <input type="text" id="campo13" class="form-control form-control-sm" name="campo13" value="{{ dato.campo13 }}"/>
                </td>
                <td>
                    <input type="text" id="campo14" class="form-control form-control-sm" name="campo14" value="{{ dato.campo14 }}"/>
                </td>
                <td>
                    <input type="text" id="campo15" class="form-control form-control-sm" name="campo15" value="{{ dato.campo15 }}"/>
                </td>
            </tr>
        </table>
        </div>
        <hr style="height:5px; background-color: #AC58FA; border: none;">
        {% endfor %}
        <button type="submit" class="btn btn-default" id="submit-button">GUARDAR</button>
    </form>
</div>
{% endblock %}