{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center busqueda">
    <form id="find_and_filter_clients" action="/resultado_busqueda" method="post">
        <table class="table table-striped table-sm">
            <tr>
                <td>C.I.F.</td>
                <td>Dirección</td>
                <td>Población</td>
                <td>C.P.</td>
                <td>Provincia</td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="cif" class="form-control form-control-sm" name="cif" />
                </td>
                <td>
                    <input type="text" id="direccion" class="form-control form-control-sm" name="direccion" />
                </td>
                <td>
                    <input type="text" id="poblacion" class="form-control form-control-sm" name="poblacion" />
                </td>
                <td>
                    <input type="text" id="cp" class="form-control form-control-sm" name="cp" />
                </td>
                <td>
                    <input type="text" id="provincia" class="form-control form-control-sm" name="provincia" />
                </td>
            </tr>
        </table>
        <table class="table table-striped table-sm">
            <tr>
                <td>Parroquia / Razón social</td>
                <td>Diócesis</td>
                <td>Arciprestazgo</td>
                <td>Web</td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="parroquia_razon" class="form-control form-control-sm" name="parroquia_razon" />
                </td>
                <td>
                    <input type="text" id="diocesis" class="form-control form-control-sm" name="diocesis" />
                </td>
                <td>
                    <input type="text" id="arciprestazgo" class="form-control form-control-sm" name="arciprestazgo" />
                </td>
                <td>
                    <input type="text" id="web" class="form-control form-control-sm" name="web" />
                </td>
            </tr>
        </table>
        <table class="table table-striped table-sm">
            <tr>
                <td>Responsable de seguridad / Párroco</td>
                <td>Cargo</td>
                <td>D.N.I.</td>
                <td>Tfno. 1</td>
                <td>Tfno. 2</td>
                <td>E-mail</td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="responsable" class="form-control form-control-sm" name="responsable" />
                </td>
                <td>
                    <input type="text" id="cargo" class="form-control form-control-sm" name="cargo" />
                </td>
                <td>
                    <input type="text" id="dni" class="form-control form-control-sm" name="dni" />
                </td>
                <td>
                    <input type="text" id="tfno1" class="form-control form-control-sm" name="tfno1" />
                </td>
                <td>
                    <input type="text" id="tfno2" class="form-control form-control-sm" name="tfno2" />
                </td>
                <td>
                    <input type="text" id="email" class="form-control form-control-sm" name="email" />
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-default" id="submit-button">BUSCAR</button>
    </form>
</div>
<div class="jumbotron text-center busqueda">
    {% if result|length > 0 %}
    <table class="table table-striped table-sm">
        <tr>
            <td><strong>Fecha de alta</strong></td>
            <td><strong>C.I.F.</strong></td>
            <td><strong>Dirección</strong></td>
            <td><strong>Población</strong></td>
            <td><strong>C.P.</strong></td>
            <td><strong>Provincia</strong></td>
            <td><strong>Parroquia / Razón</strong></td>
            <td><strong>Diócesis</strong></td>
            <td><strong>Arciprestazgo</strong></td>
            <td><strong>Web</strong></td>
            <td><strong>Responsable</strong></td>
            <td><strong>Cargo</strong></td>
            <td><strong>D.N.I.</strong></td>
            <td><strong>Tfno 1</strong></td>
            <td><strong>Tfno 2</strong></td>
            <td><strong>E-mail</strong></td>
        </tr>
        {% for res in result %}
        <tr class="texto_resultado">
            <td>{{ res.fecha_alta }}</td>
            <td>{{ res.cif }}</td>
            <td>{{ res.direccion }}</td>
            <td>{{ res.poblacion }}</td>
            <td>{{ res.cp }}</td>
            <td>{{ res.provincia }}</td>
            <td>{{ res.parroquia_razon }}</td>
            <td>{{ res.diocesis }}</td>
            <td>{{ res.arciprestazgo }}</td>
            <td>{{ res.web }}</td>
            <td>{{ res.responsable }}</td>
            <td>{{ res.cargo }}</td>
            <td>{{ res.dni }}</td>
            <td>{{ res.tfno1 }}</td>
            <td>{{ res.tfno2 }}</td>
            <td>{{ res.email }}</td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <form id="create_documents" action="/crear_documentos" method="post">
            <button type="submit" class="btn btn-default float-left btn-a" id="create-button">CREAR DOCUMENTOS</button>
        </form>
        <form id="export" action="/exportar_excel" method="post">
            <button type="submit" class="btn btn-default float-left btn-a" id="export-button">EXPORTAR A EXCEL</button>
        </form>
        <form id="edit" action="/editar_clientes" method="post">
            <button type="submit" class="btn btn-default float-left" id="edit-button">EDITAR CLIENTES</button>
        </form>
        <form id="del" action="/borrar_clientes" method="post">
            <button type="submit" class="btn btn-danger float-right" id="del-button">BORRAR CLIENTES</button>
        </form>
    </div>
    {% else %}
    <h4>No se han encontrado clientes</h4>
    {% endif %}
</div>
{% endblock %}