{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-light" style="background-color: #AC58FA;">
    <div class="navbar-nav" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li>
                 <a class="navbar-brand" href="/home" title="home">INICIO</a>
            </li>
            <li>
                <a href="/nuevo_cliente">AÑADIR CLIENTES</a>
            </li>
            <li>
                <a href="/plantillas">PLANTILLAS</a>
            </li>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">SALIR</a>
                </li>
            </ul>
        </ul>
    </div>
</nav>
{% endblock %}














